<div class="d-flex flex-column align-self-center">
    <div class="d-flex flex-row justify-content-center">
        <div id="sign-up-with-container" class="d-flex flex-column justify-content-center">
            <%= link_to('Sign up with Spotify', @request, id: 'spotify-data-request-button', class: 'btn btn-light') %>
        </div>
    </div>
</div>