<!-- page container - column -->
<div id="user-show-content-container" class="d-flex flex-column justify-content-center shadow-lg" style="background-color:rgb(48, 67, 49);">
    <!-- graph container - row -->
    <div id="graph-container" class="d-flex flex-row">
        <svg id="graph-window" style="width:100vw;height:80vh;">

        </svg>
    </div><!-- graph container - row -->
</div><!-- page container - column -->