<!-- centering -->
<div class="d-flex justify-content-center">
    <!-- user show content container - column -->
    <div id="user-show-content-container" class="d-flex flex-column shadow-lg rounded" style="position:fixed;left:24px;right:24px;top:110px;bottom:24px;background-color:rgb(255,240,245);">
        <!-- graph-window -->
        <svg id="graph-window" height="100%" width="100%">

        </svg>
    </div><!-- user show content container - column -->
</div><!-- centering -->