<div class="d-flex flex-column">
    <div class="d-flex flex-row">
        <div class="d-flex flex-column m-1 border border-dark align-self-center rounded">
            <p class="h2 mb-0 px-2">Your Music</p>
            <div class="d-flex flex-row m-1 border border-dark rounded justify-content-start">
                <div id="user-music-container" class="d-flex flex-column m-2">
                    <div class="d-flex flex-row border border-light border-top-0 border-right-0 border-left-0 w-100">
                        <p id="playlists-btn" class="h4 btn btn-light">Playlists</p>
                    </div>
                    <div class="d-flex flex-row border border-light border-top-0 border-right-0 border-left-0 w-100">
                        <div id="artists-btn" class="h4 btn btn-light">Artists</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="playlists-container" class="d-flex flex-column d-none">
    <div class="d-flex flex-row">
        <div class="d-flex flex-column m-1 border border-dark align-self-center rounded">
            <p class="h2 mb-0 px-2">Your Playlists</p>
            <div class="d-flex flex-row m-1 border border-dark rounded justify-content-start">
                <div id="user-playlists-container" class="d-flex flex-column m-2">
                    <% @user.library.playlists.each do |p| %>
                        <div class="d-flex flex-row border border-light border-top-0 border-right-0 border-left-0 w-100">
                            <%= "'#{p.name}'" %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="artists-container" class="d-flex flex-column d-none">
    <div class="d-flex flex-row">
        <div class="d-flex flex-column m-1 border border-dark align-self-center rounded">
            <p class="h2 mb-0 px-2">Your Artists</p>
            <div class="d-flex flex-row m-1 border border-dark rounded justify-content-start">
                <div id="user-playlists-container" class="d-flex flex-column m-2">
                    <% Artist.where(library_id: @user.library.id).each do |a| %>
                        <div class="d-flex flex-row border border-light border-top-0 border-right-0 border-left-0 w-100">
                            <%= "#{a.name}" %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>