<!-- page container - column -->
<div id="user-show-content-container" class="d-flex flex-column shadow-lg" style="background-color:rgb(255,240,245);">
    <!-- graph container - row -->
    <div id="graph-container" class="d-flex flex-row">
        <svg id="graph-window" style="width:80vw;height:80vw;">

        </svg>
    </div><!-- graph container - row -->
</div><!-- page container - column -->