<!-- shift right -->
<div class="d-flex justify-content-end">
    <!-- user show content container - column -->
    <div id="user-show-content-container" class="d-flex flex-column shadow-lg" style="width:70vw;height:70vh;background-color:rgb(225, 234, 225);">
        <!-- graph container - row -->
        <!-- <div id="graph-container" class="d-flex flex-row" style="background-color:rgb(225, 234, 225);"> -->
            <!-- <svg id="graph-window">

            </svg> -->
        <!-- </div> -->
        <!-- graph container - row -->
    </div><!-- user show content container - column -->
</div><!-- shift right -->