<!-- user show content container - column -->
<div id="user-show-content-container" class="d-flex flex-column justify-content-center shadow-lg">
    <!-- graph container - row -->
    <div id="graph-container" class="d-flex flex-row" style="background-color:rgb(48, 67, 49);">
        <svg id="graph-window" style="width:70vw;height:60vh;">

        </svg>
    </div><!-- graph container - row -->
</div><!-- page container - column -->