
<div class="d-flex flex-column justify-content-around">
    <div class="d-flex flex-row">
        <div class="d-flex flex-column m-1 border border-dark align-self-start rounded">
            <p class="h2 mb-0 px-2">Your Playlists</p>
            <div class="d-flex flex-row m-1 border border-dark rounded justify-content-start">
                <div id="user-playlists-container" class="d-flex flex-column m-2">
                    <% @user.library.playlists.each do |p| %>
                        <div class="d-flex flex-row border border-light border-top-0 border-right-0 border-left-0 w-100">
                            <%= "'#{p.name}'" %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>