<!-- page container - column -->
<div id="build-content-container" class="d-flex flex-column shadow-lg justify-content-center" style="background-color:rgb(255,240,245);">
    <!-- header container - row -->
    <div class="d-flex flex-row">
        <h3 class="align-self-center"><%= @header %></h3>
    </div><!-- header container - row -->
    <!-- playlists image container - row -->
    <div id="playlist-img-container" class="d-flex flex-row">
        

        <%# NEEDS LOGIC FOR LAYOUT FLOW %>

        <div class="d-flex flex-column">
            <div class="d-flex flex-row">
                <div class="d-flex flex-column">
                    <%  i = 1 %>
                    <% until i == (@playlists.size + 1) %>
                        <% if ((i - 1) % 4) == 0 %>
                            <div class="d-flex flex-row">
                        <% end %>
                        <div>
                            <img src="<%= Playlist.find_by(id: i).playlist_image_url %>" alt="PLAYLIST_IMAGE" class="m-1 shadow-sm" style="height:15vw;width:15vw;">
                        </div>
                        <% if (i % 4) == 0 %>
                            </div>
                        <% end %>
                        <%# <%= link_to "PLAYLIST_IMAGE", {controller: 'tracks', action: 'create', library_id: @library_id, access_token: @access_token, playlist_id: i, xt: '0'} %>
                        <% i = i.next %>
                    <% end %>
            </div>
        </div>

        <%# NEEDS LOGIC FOR LAYOUT FLOW %>


    </div><!-- playlists image container - row -->
</div><!-- page container - column -->