<div class="d=flex flex-column">
    <h1 class="align-self-center">Almost There...</h1>
    <p class="align-self-center">We need you to allow us a moment to gather more data.</p>
    <%= link_to "PLAYLIST_IMAGE", {controller: 'tracks', action: 'create', library_id: @library_id, access_token: @access_token} %>
</div>