// Place all the styles related to the status controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.zoom-btn {
    background-color: rgba(225, 234, 225, 0.8);
    color: black;
}
.zoom-btn:hover {
    background-color: rgb(255,240,245);
    color: black;
}