// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#yield-container {
    width: 100vw;
    height: 100vh;
}
#spotify-data-request-button {
    background-color: rgb(0,229,97);
}
.c-hover:hover {
    opacity: 0.6;
}
.zoom-btn {
    background-color: rgba(37, 41, 36, 0.7);
    color: rgb(255,240,245);
}
.zoom-btn:hover {
    background-color: rgb(37, 41, 36);
}
.unavailable {
    opacity: 20%;
}